body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
#banner {
    text-align: center;
    height: 50px;
    font-weight: bolder;
}
.new-task{
    align-items: center;
    text-align: center;
    padding-top: 50px;
}
.new-task p{
    font-size: 30px;
    position: relative;
    right: 300px;
}
#input{
    font-family: Didot, sans-serif;
    width: 400px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
#button{
    border: none;
    font-family: "Arial";
    color: white;
    background-color: #316FF6;
    height: 35px;
    width: 60px;
    border-radius: 5px;
    cursor: pointer;
}
.list{

}
.task-box {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    width: 35%;
    position: relative;
    left: 485px;
}

.task-checkbox {
    margin-right: 10px;
}

.delete-button {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    text-align: right;
}
